.modal-dialog {
    top: calc(100% - 339px); 
  }
img{
    width: 113.7px;
    height: 170.6px;
}
.cerrar{
    position: absolute;
    top: 5px;
    left: 310px;
}
.titulo{
    position: absolute;
    top: 15px;
    left: 140px;
    font-size: 20px;
}
.informacion{
    position: absolute;
    top: 40px;
    left: 140px;
    font-size: 15px;
}
.descripcion{
    position: absolute;
    top: 60px;
    left: 140px;
    font-size: 15px;
}
.play{
    position: absolute;
    top: 200px;
    left: 15px;
    font-size: 15px;
    align-items: center;
}
.descarga{
    position: absolute;
    top: 200px;
    left: 205px;
    font-size: 15px;
    align-items: center;
}
.descarga-text{
    position: absolute;
    top: 220px;
    left: 180px;
    font-size: 15px;
    align-items: center;
}
.trailer{
    position: absolute;
    top: 200px;
    left: 285px;
    font-size: 15px;
    align-items: center;
}
.trailer-text{
    position: absolute;
    top: 220px;
    left: 280px;
    font-size: 15px;
    align-items: center;
}
.start-fondo{
    height: 60vh;
    width: 56vh;
}

.start-list{
    position: absolute;
    top: 300px;
    left: 10%;
}
.start-play{
    position: absolute;
    top: 390px;
    left: 39%;
}
.start-info{

}
.mfp-iframe-holder .mfp-content {
    max-width: 1400px !important;
  }